/* 
	Color used{
		color1 - #222222 - Black
		color2 - #ffffff - White
		color3 - #707070 - Gray
		color4 - #f34e4e - Red
	}

*/

/*  global  */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'GrandHotel';
    src: url('../fonts/GrandHotel-Regular.otf');
}

h1{
	margin:0px;
	padding: 0px;
}

html, body{
	margin:0;
	padding: 0;
	height:100vh;
	width: 100vw;
	background-color:#222222;
	color:#ffffff;
	font-family: 'Lato';
}

.container-fluid{
	margin:0;
	padding:0;
}

#brand-name{
	font-family: 'Grand Hotel';
}

#button,button{
	background-color:#f34e4e; 
	color: #ffffff;
}

#button:hover,button:hover{
	text-decoration: underline;
}

.col-md-2{
	margin:0px;
	padding:0px;
}

.width100{
	width:100%;
}

.table-hover > tbody > tr:hover{
	background-color:#f34e4e;
}




/*  Admin - login */
#admin-main-header{
	text-align: center;
	margin-top: 50px;
}

#admin-login{
	width:100%;
	height:100%;
}

#admin-login-form{
	margin-top: 10%;
	padding-bottom: 1%;
	color:#ffffff;
	text-align: center;
	border:5px solid #ffffff;
	border-radius: 10px;
}

@media only screen and (max-width:991px){
	#admin-login-form{
		width:80%;
		margin:60px auto auto auto;
	}
}

#admin-login-header{
	margin:4%;
	border-bottom: 2px solid #f34e4e;
}

.input-group{
	margin:0px;
	width:100%;
}

form .form-group{
	margin-bottom: 5%;
}







/*  Admin - Home page  */
.navbar-default {
  background-color: #222222;
  border:none;
  border-bottom:2px solid #f34e4e;
  border-radius:0px;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f34e4e;
}
.navbar-default .navbar-text {
  color: #c2c2c2;
}
.navbar-default .navbar-nav > li > a {
  color: #c2c2c2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f34e4e;
  text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #f34e4e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #707070;
  background-color: #ffffff;
  text-decoration: underline;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
  text-decoration: underline;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c2c2c2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c2c2c2;
}
.navbar-default .navbar-link {
  color: #c2c2c2;
}
.navbar-default .navbar-link:hover {
  color: #707070;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c2c2c2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #707070;
    text-decoration: underline;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #707070;
    background-color: #f34e4e;
    text-decoration: underline;
  }
}

#main-heading{
	margin:3%;
	color:#f34e4e;
}