/* 
	Color used{
		color1 - #734434 - Dark Brown
		color2 - #794c35 - Light Brown
		color3 - #f37123 - Orange
		color4 - #fdf6e0 - Cream
	}

*/

/*  global  */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'GrandHotel';
    src: url('../fonts/GrandHotel-Regular.otf');
}

h1{
	margin:0px;
	padding: 0px;
}

html, body{
	margin:0;
	padding: 0;
	height:100vh;
	width: 100vw;
	background-color:#794c35;
	color:#fdf6e0;
	font-family: 'Lato';
}

.container-fluid{
	margin:0;
	padding:0;
}

#brand-name{
	font-family: 'Grand Hotel';
}


.col-md-2{
	margin:0px;
	padding:0px;
}





/*  Admin - login */
#admin-main-header{
	text-align: center;
	margin-top: 50px;
}

#admin-login{
	width:100%;
	height:100%;
	background-image:url("../images/login.png");
	background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
}

#admin-login-form{
	margin-top: 10%;
	color:#ffffff;
	text-align: center;
	border:5px solid #ffffff;
	border-radius: 10px;
}


#button{
	background-color:transparent;
	border:1px solid #ffffff;
	color: #ffffff;
}

#button:hover{
	text-decoration: underline;
}

@media only screen and (max-width:991px){
	#admin-login-form{
		width:80%;
		margin:60px auto auto auto;
	}
}

#admin-login-header{
	margin:4%;
	border-bottom: 2px solid #ffffff
}

.input-group{
	margin:0px;
}

form .form-group{
	margin-bottom: 5%;
}







/*  Admin - Home page  */
.navbar-default {
  background-color: #734434;
  border-color: #794c35;
}
.navbar-default .navbar-brand {
  color: #fdf6e0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f37123;
}
.navbar-default .navbar-text {
  color: #fdf6e0;
}
.navbar-default .navbar-nav > li > a {
  color: #fdf6e0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f37123;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f37123;
  background-color: #794c35;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f37123;
  background-color: #794c35;
}
.navbar-default .navbar-toggle {
  border-color: #794c35;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #794c35;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fdf6e0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fdf6e0;
}
.navbar-default .navbar-link {
  color: #fdf6e0;
}
.navbar-default .navbar-link:hover {
  color: #f37123;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fdf6e0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f37123;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f37123;
    background-color: #794c35;
  }
}
